.class-top{
    /*border-top: 1px solid #ccc;*/
    height: 200px;
    background-color: #1b9adc;
}
.list-title{
    color: #fff;}
.list-title h1{
    font-weight: normal;
    padding: 0;
    margin: 0;
    font-size: 34px;
    line-height: 70px;
    margin-top: 40px;
}
.list-title p{
    font-size: 14px;
    margin: 0;
    padding: 0;}
.f-cy{
    color: #fecd9c;}
.list-title a{
    color: #fff;
    display: inline-block;
    }
.list-title a:hover{
    text-decoration: underline;}
.list-hot{
    border-left: 1px dotted #58b9ec;
    margin-top: 30px;
    padding-left: 30px;
    overflow: hidden;
    height: 140px;}
.list-hot-pic{
    display: block;
    height: 130px;
    overflow: hidden;
    margin-top: 5px;}
.list-hot-pic img{
    height: 100%;}

.list-hot-info a{
    color: #fff;
    line-height: 20px;
    padding-bottom: 5px;}
.list-hot-info a:hover{
    text-decoration: underline;}
.list-hot-info-p{
    font-size: 12px;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    line-height: 20px;
    color: #9fd3f3;}

.class-nav{
    background-color: #f1f1f1;
    display: block;
    font-size: 14px;
    line-height: 40px;
    padding-left: 10px;color: #666;
    border-left: 5px solid #ccc;
    margin-bottom: 3px;
   }

.class-nav:hover{
    background-color: #dbf3ff;
    text-decoration: none;
    border-color: #9ed8f5;}
.class-nav.on,.class-nav.on:hover{
    background-color: #4bb1e5;
    color: #fff; text-decoration: none;
    border-color: #1b7caf;}
a{
    color: #444;}

.class-title{
    border-bottom: 1px solid #ddd;}
.class-title-right{
    padding-top: 10px;}
.class-title-h2{
    padding: 0;
    margin: 0;
    color: #444;
    font-size: 26px;
    line-height: 50px;}
.class-title-p{
    color: #ccc;
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    margin-left: 10px;}
.class-list{list-style: circle}
.class-list-li{
    border-bottom: 1px dotted #ddd;
    padding-bottom: 10px;
    margin-top: 10px;}
.class-list-li a{
    font-size: 16px;}
.class-list-li a:hover{
    text-decoration: underline;
    color: #4bb1e5;}
.class-list-info{
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 5px;
    display: block;}
.class-list-p{
    font-size: 12px;
    color: #999;}
.class-list-span{
    display: inline-block;
    margin-right: 10px;
}
.class-list-span .f-icon{
    color: #1b9adc;
    margin-right: 5px;}

.hot-list-title{
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    line-height: 40px;
    color: #444;}
.hot-list-ul{list-style: none;
    margin: 0;
    padding: 0;}
.hot-list-ul a{
    display: block;
    line-height:25px;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;}
.hot-list-ul a:hover{
    background-color: #f1f1f1;}
.hot-list-i{
    font-style: normal;
    display: inline-block;
    background-color: #4bb1e5;
    width: 25px;
    text-align: center;
    color: #fff;
    margin-right: 10px;}
.pager{
    text-align: center;
    line-height: 30px;
    font-size: 0;
    padding-bottom: 10px;}
.pager a,.pager b{
    display: inline-block;
    border: 1px solid #ddd;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2px;
    margin-right: 2px;}
.pager b{
    background-color: #4bb1e5;
    color: #fff;
    border-color: #4bb1e5;}
.pager a:hover{
    background-color: #f1f1f1;}
.pager a b{
    background-color: #fff;
    border: none;
    color: #444;
}


.yj-nc-author{

    display: inline;

}



.yj-nc-author a{

    text-decoration: none;

    font-size: 14px;

    color: #4285f4;

    display: inline;

}



.yj-nc-author a:hover{

    color: #ed0049;

}



.yj-nc-time{

    font-size: 14px;

    display: inline;

    color: #bbbbbb;

}



.yj-nc-summary{

    margin-top: 10px;

    margin-bottom: 10px;

    padding: 10px;

    background-color: #f1f1f1;

}



.yj-nc-summary p{

    display: inline;

}



.yj-nc-img{

    width: 100%;

    height: 300px;

    background-size: cover;

    background-repeat: no-repeat;

    background-position: center;

}

.yj-nc-content p{

    line-height:30px;

    text-indent:2em;

    padding:10px 0;

}
.yj-nc-content img{max-width:100%}
.yj-nc-author .f-icon{color: #c0c0c0;font-size: 16px}
.mj-banquan{
    padding: 15px;
    color: #666;
    font-size: 12px;}
.next{
    font-size: 12px;
    padding: 10px;
    line-height: 25px;}
.next a:hover{
    text-decoration: underline;}
.c-table{
    width: 100%;}
.c-table td{
    padding: 5px;
    border: 1px solid #ddd;}
.table-h{
    background-color: #f1f1f1;}


.MC .news-left{width:100%}
.MC .news-right{width:100%}
.MC .news .news-left .content .policy-news{width:100%}
.MC .partner-list td{float:left}
.MC .news{margin:0}
.MC .news .news-left .content .industry-news{width:100%;padding-right:0;border-right:none;border-bottom:1px #bbb dotted}
.MC .news .news-left .content .list .headline .headline-img{width:30%}
.MC .news .news-left .content .list .headline .headline-content{width:65%}
.MC .news .meeting-activity .meeting-activity-wrapper{margin:10px;padding:10px}
.MC .news-box{margin:10px}
.MC .search-wrapper .search .search-input input{width:100%}
.MC .search-wrapper{margin:10px auto 0 auto}
.MC .search-wrapper .search .hot-keyword{height:16px;overflow:hidden}
.MC .news .news-left .content .list .headline .headline-content a{text-overflow:ellipsis;height:45px;display:-webkit-box;overflow:hidden;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.MC .news .news-left .content .list .headline .headline-content .headline-subtitle{text-overflow:ellipsis;height:52px;display:-webkit-box;overflow:hidden;-webkit-line-clamp:3;-webkit-box-orient:vertical}
.news .news-right{margin-top:30px}
.MC .news .news-right{margin:0}
.MC .about{width:70%;margin:0;padding:0;text-align:left}
.MC .relative{width:30%;margin:0;padding:0;text-align:center}
.MC .logo{margin-top:10px}
.MC .footer .statement{margin-top:10px}
.MC .footer .about .about-link-list{width:auto}
.MC .footer-links-wrap{margin:10px}
.list-hot-info{padding-left:20px;padding-top:15px}
.MC .list-title h1{margin-top:0}
.MC .class-top{height:auto}
.MC .list-hot{margin:0;padding:0}
.MC .list-hot-info{padding:5px}
.MC .list-hot-info-p{margin:0;padding:0;text-overflow:ellipsis;height:62px;display:-webkit-box;overflow:hidden;-webkit-line-clamp:3;-webkit-box-orient:vertical}
.MC .class-list ul{padding:0}
.MC .list-hot-info a{text-overflow:ellipsis;height:36px;display:-webkit-box;overflow:hidden;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.MC .search-wrapper .search .search-input button{padding:11px 12px}
.MC .footer .code{margin-left:70px}
.search-wrapper .search{float:right}
.MC .search-wrapper .search{float:left}
.mj-mcmenu{background-color:rgba(0,0,0,.6);position:fixed;width:100%;height:100%;z-index:99;left:100%;top:0;opacity:0;transition:opacity .3s linear}
.mj-mcmenu.on{left:0;opacity:1}
.mj-mcmenu-close{border:none;background:0 0;color:#fff;font-size:24px;font-family:arial;cursor:pointer;position:absolute;top:50%;left:15%;margin-top:-12px}
.mj-mcmenu-box{white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;transition:all .2s linear;overflow-x:hidden;background-color:#fff;width:0;position:absolute;top:0;right:0;height:100%;overflow-y:auto}
.mj-mcmenu-bd .mj-mcmenu-ul{display:none}
.mj-mcmenu.on .mj-mcmenu-box{width:60%}
.mj-mcmenu-body{padding:10px}
a.mj-mcmenu-title{display:block;text-decoration:none}
.mj-mcmenu-title{border-bottom:2px solid #ddd;line-height:40px;font-weight:700;font-size:16px;color:#666}
.mj-mcmenu-ul{padding:0;margin:0}
.mj-mcmenu-ul a{padding-left:8px;display:block;line-height:40px;text-decoration:none;font-size:14px;color:#666;border-bottom:1px dotted #ccc}
.mj-mcmenu-ul a:hover{background-color:#f1f1f1}
.mj-mcmenu-show{position:absolute;top:20px;right:10px;line-height:45px;color:#999;font-size:20px;border:none;cursor:pointer;background:0 0}
.MC .yj-nc-content{padding:0}
.yj-nc-ml{margin-left:10px}
.MC .yj-nc-ml{margin:0}
.list-hot{height:auto}

.mj-classList-title{border-bottom:1px solid #ddd}
.mj-classList-title-right{padding-top:10px}
.mj-classList-title-h2{padding:0;margin:0;color:#444;font-size:26px;line-height:50px}
.mj-classList-title-p{color:#ccc;font-size:14px;font-weight:400;display:inline-block;margin-left:10px}

.yj-yp-container{}
.yj-yp-list{position: relative;overflow: hidden;display: block;height: 150px;margin: 10px;list-style: none;border-bottom: 1px solid #ddd;}
.yj-yp-container ul{padding: 0px;}
.yj-yp-img{height: 130px;width: 150px;position: absolute;left: 0;top: 0;background-position: center center;-webkit-background-size: cover;  background-size: cover;}
.yj-yp-info{margin-left: 170px;position: relative;border-bottom: 1px solid #ddd;height: 55px}
.yj-yp-info a:hover{text-decoration: underline}
.yj-yp-tea-img{height: 40px;width: 40px;border-radius: 50%;background-position: center;background-size: contain;display: inline-block;position: absolute;top: 5px;left: 5px}
.yj-yp-tea-info{position: absolute;top: 15px;left: 60px}
.yj-yp-info p{display: inline-block}
.yj-yp-tea-name{color: #86cae8;font-size: 16px}
.yj-yp-tea-from{font-size: 14px;color: #aeaeae}
.yj-yp-tea-position{font-size: 14px;color: #aeaeae}
.yj-yp-class-name{position:absolute;top:65px;left:5px;color: #666;font-size: 18px}
.yj-yp-class-timebox{position: absolute;top: 100px}
.yj-yp-class-condition{color: #fff;padding: 2px 5px;font-size: 14px}
.yj-yp-class-name-time{font-size: 14px;color: #999}
.start{background-color: #ff9e63;}
.end{background-color: #b7b7b7;}
.yj-yp-list-hot{position: relative;overflow: hidden;display: block;height: 150px;margin: 10px;}
.yj-yp-list-hot p{color: #fff}
.yj-yp-list-hot .yj-yp-class-name{color:#fff}

.yj-yp-search-input{margin-top:20px}
.yj-yp-search-input input{background-color:#e8e8e8;line-height:36px;color:#b3b3b3;border:0;height:36px;font-size:12px;border-radius:5px;outline:medium;padding:10px 10px}
.yj-yp-search-input button{border:none;border-radius: 5px;padding:11px 15px;display:inline-block;background-color:#ff9e63;color:#fff;font-size:18px;cursor:pointer;line-height:14px;margin:0px 4px}
.yj-yp-search-input button:hover{background-color:#f93;}
.yj-yp-search-input a{display: inline-block}
.yj-yp-keyword{display: inline-block;background-color: #4bb1e5;font-size: 14px;color: #fff;padding: 8px 10px;margin-top: 5px}

.hot-list{margin: 10px;}
.f-textof{white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
.mj-hot-list-title{font-size:16px;font-weight:700;border-bottom:1px solid #ddd;line-height:40px;color:#444}
.mj-hot-list-ul{list-style:none;margin:0;padding:0}
.mj-hot-list-ul a{color:#444;text-decoration:none;display:block;line-height:25px;font-size:14px;padding-top:5px;padding-bottom:5px}
.mj-hot-list-ul a:hover{background-color:#f1f1f1}
.mj-hot-list-i{font-style:normal;display:inline-block;font-family:arial;background-color:#4bb1e5;padding-left:8px;color:#fff;margin-right:10px;padding-right:8px}


.yj-class-top{height: 50px;background-color: #1b9adc;position: relative}
.yj-class-condition{color: #fff;padding: 2px 5px;font-size: 14px;display: inline-block;position: absolute;top: 15px;left: 10px;}
.yj-class-name{position:absolute;top:14px;left:115px;color: #fff;font-size: 18px}
.yj-class-top a{text-decoration: none;color: #fff;font-size: 14px;position: absolute;right: 20px;top: 15px}

.yj-class-tea-img{height: 40px;width: 40px;border-radius: 50%;background-position: center;background-size: contain;display: inline-block;position: absolute;top: 10px;left: 5px}
.yj-class-info{margin-left: 10px;position: relative;height: 55px}
.yj-yp-class-info{position: absolute; top: 20px;left: 60px;}
.yj-yp-class-info p{display: inline-block}
.yj-class-time{display: inline-block}
.yj-class-name-time{font-size: 14px;color: #999;display: inline-block}
.yj-class-zhibo{background-color: #1b9adc;color: #fff;padding: 4px 5px;font-size: 14px;display: inline-block;position: absolute;top: 15px;right: 20px}

.yj-class-view{background-color: #e6e6e6;height: 700px}
.yj-class-bc{background-color: #fff}
.yj-class-left{height: 600px}
.yj-class-right{height: 600px}
.yj-class-zhibo:hover{background-color: #1673a4}


/*病理分类-start*/
.yj-cate{}
.yj-cate-list{padding: 5px;border-bottom: 1px solid #ddd }
.yj-cate-list ul{padding: 0px;margin: 0px;font-size:0;}
.yj-cate-list li{display: inline-block;padding: 2px 0px ;margin: 0px;font-size: 14px;text-align: left;position: relative}
.yj-cate-list a{font-size: 14px;color: #666}
.yj-cate-list a:hover{text-decoration: underline}
.yj-cate-res{height: 500px}
.yj-cate-res ul{padding: 0px;margin: 0px;font-size:0;}
.yj-cate-res li{display: inline-block;height: 140px;width:360px;border: 1px solid #ddd;margin: 14px;position: relative}
.yj-cate-res a{display: block;}
.yj-cate-img{height: 115px;width: 135px;background-size: cover;position: absolute;top: 18px}
.yj-cate-txt{position: relative;margin-left: 150px}
.yj-cate-number{color: #666;font-size: 18px;position: absolute;top: 20px}
.yj-cate-opr{position: absolute;top: 100px}
.yj-cate-txt a{display:inline-block;font-size: 12px;color: #fff;padding: 2px 6px;margin: 4px}
.yj-cate-location{color: #65befd;font-size: 14px;position: absolute;top: 55px}
.yj-cate-brief{color: #999;font-size: 14px;position: absolute;top: 55px;left:40px }
/*病理分类-end*/


/*病理报告-start*/
.yj-report-name{color: #fff;padding: 2px 5px;font-size: 14px;display: inline-block;position: absolute;top: 15px;left: 10px;}
.yj-report{position:absolute;top:14px;left:115px;color: #fff;font-size: 18px}
.yj-report-view{ background-color: #e6e6e6;}

.rpPaper-box{width: 50%;height:1000px;background:#fff;color:#000;margin-top:12px;display: inline-block;}
.re-body{padding:30px; }
.rpPaper h1{margin:0;font-size:18px;margin-bottom:5px;font-weight:400;color:#0f0cb3}
.rpPaper .subHead{color:#0f0cb3;margin:0;line-height:28px}
.rpPaper h2{font-size:18px;font-weight:400;margin:14px 0}
.re-body h1,.rpPaper h2{display:block;text-align:center}
.re-body h1{font-size:22px}
.re-table{font-size:14px;width:100%}
.re-table td{padding:2px}
.re-title{width:70px;text-align:center}
.re-table2 td{padding:5px;border:1px solid #aaa}
.re-b{font-size:16px}
.re-p{font-size:14px;padding:5px;line-height:22px}
.re-plist{display:inline-block;width:230px;height:140px;margin:5px;margin-left:30px;margin-right:30px;overflow:hidden}
.re-plist img{min-width:230px;min-height:140px}
.re-foot{bottom:0;left:0;width:100%}
.re-tips{margin-top:5px;padding-top:5px;border-top:1px solid #ccc}
.re-qm,.re-tips{font-size:12px;display:block;color:#666}
.re-qm{padding:5px;word-wrap:break-word;word-break:break-all}
.re-name{display:inline-block;line-height:30px}
/*病理报告-end*/

#box2{width: 100%;height: 600px;}
.swiper-slide{background-color: #000;color: #fff;}
.mj-slideBox .swiper-pagination-switch{ background:#fff;}
.mj-slideBox .swiper-active-switch{ background:#f00; color:#fff; }
.mj-slideBox .swiper-wrapper{z-index: 0;}
.mj-slideBox-img{width: 100%;height: 100%;background-size:cover;display: block;position: relative;background-position: center center;text-decoration: none;overflow: hidden;}
.mj-slideBox-p{font-size: 12px;left: 0;margin: 0;padding-left: 10px;color: #fff;line-height: 30px;height: 30px;width: 100%;position: absolute;bottom: 0;background-color: rgba(0,0,0,0.6);}
.mj-pagination{height:15px; overflow:hidden; position:absolute; right:5px;text-align: right; bottom:7px; z-index:1; }
.mj-slideBox .swiper-pagination-switch{ display: inline-block; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; cursor:pointer; }
.mj-slideBox-p2{left: 5px;text-align: center;}













